@import 'fonts','variable','utilites','function';
//Reset CSS
*{
    margin: 0px;
    padding: 0px;
}
body{
    // background-color: $primary-color;
    font-family: $font-family-lalezar;
    line-height: 2rem;
    // background: #333;
}
a{
    text-decoration: none;
    color: $dark-color;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
#main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    ul{
        display: flex;
        li{
            padding: 1rem 1.5rem;
            a{
                color: #fff;
                border-bottom: 3px transparent solid;
                padding-bottom: 0.3rem;
                @include transition(border-color,0.3s);
                &:hover{
                    border-color:$medium-color ;
                    cursor: pointer;
                }
                &.active{
                    border-color:$primary-color;
                }
            }
        }
    }
}
#header{
    &-home{
        background:linear-gradient(rgba(20,20,20,0.8), rgba(20,20,20,0.8)), $bg-image no-repeat center center/cover;
        height: 100vh;
        .header-content{
            color: #fff;
            text-align: center;
            padding-top: 10%;
            a{
                border-radius: 5px;
            }
            h1{
                font-size: 3rem;
            }
        }
    }
}
#home{
    &-1{
        .items{
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4,1fr);
        }
        .fas{
            color: $primary-color;
            padding-bottom: 0.4rem;
        }
    }
    &-2{
        .items{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            li{
                line-height: 1.5rem;
                &.items-title{
                    font-size: 1.3rem;
                }
                &.items-number{
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
            div{
                padding: 3rem 0;
                &:nth-child(odd){
                    background-color: $primary-color;
                    color: #fff;
                }
                &:nth-child(even){
                    background-color: $light-color;
                }
            }
        }
    }
    &-3{
        .process{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 1.5rem;
            text-align: center;

            &-step{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 18px;
                background-color: $primary-color;
                color: set-text-color($primary-color);
                border-radius: 50%;
                height: 55px;
                width: 55px;
                line-height: 55px;
                display: flex;
                justify-content: center; 
                align-items: center;
                @include transition(all,0.4s);

                &:hover{
                    background:$primary-color;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    .process-step{
                        background:$dark-color;
                        color: set-text-color($dark-color);
                    }
                }
            }
            &-icon{
                border-radius: 50%;
                background-color: $dark-color;
                color: set-text-color($dark-color);
                padding: 2rem;
                width: 70px;
                height: 70px;
                text-align: center;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                @include transition(all,0.4s);
                &:hover{
                    background-color: $primary-color;
                    width: 90px;
                    height: 90px;
                    line-height: 90px;
                    .process-step{
                        background-color: $dark-color;
                        color: set-text-color($dark-color);
                    }
                }
            }
        }
    }
}

@import 'media';