.cont{
    position: relative;
    max-width: 300px;
    height: 300px;
    border: 1px solid green;
    /* background-color: #333; */
}
.box1{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #444;
}
.box2{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #aaa;
    left: 150px;
    top: 150px;
}
.a1{
    max-width: 300px;
    height: 300px;
    border: 1px solid rgb(17, 0, 255);
    /* background-color: #333; */
}
.a2{
    max-width: 300px;
    height: 300px;
    border: 1px solid rgb(255, 0, 13);
    /* background-color: #333; */
}
.img-1{
    width: 100px;
    height: 100px;
}
.img-1[alt]{
    display: block;
    border: 4px solid blue;
}